<ion-side-menus enable-menu-with-back-views="false">
      <ion-side-menu-content>
        <ion-nav-bar class="bar-custom">
          <ion-nav-back-button>
          </ion-nav-back-button>

          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
          </ion-nav-buttons>
        </ion-nav-bar>

        <!-- TABS -->
        <ion-tabs class="tabs-icon-top tabs-custom">

          <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/app/chats">
            <ion-nav-view name="app-chats"></ion-nav-view>
          </ion-tab>

          <ion-tab title="Bible" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/app/bible">
            <ion-nav-view name="app-bible"></ion-nav-view>
          </ion-tab>

          <ion-tab title="Sermons" icon-off="ion-social-youtube-outline" icon-on="ion-social-youtube" href="#/app/sermons">
            <ion-nav-view name="app-sermons"></ion-nav-view>
          </ion-tab>
           
           <ion-tab title="Account" icon-off="ion-social-youtube-outline" icon-on="ion-social-youtube" href="#/app/account">
            <ion-nav-view name="app-account"></ion-nav-view>
          </ion-tab>

        </ion-tabs>

      </ion-side-menu-content>

       <!-- Side Menu (left) -->
      <ion-side-menu side="left">
        <ion-header-bar class="navbar">
          <h1 class="title">Left</h1>
        </ion-header-bar>
        <ion-content>
          <ion-list>
            <ion-item menu-close href="#/app/account">
              Login
            </ion-item>
            <ion-item menu-close href="#/app/bible">
              My Chats
            </ion-item>
            <ion-item menu-close href="#/app/sermons">
              Settings
            </ion-item>
            <ion-item menu-close href="#/app/sermons">
              Logout
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>
    </ion-side-menus>