<ion-view view-title="Chats" id="chats">
  <ion-content padding="true" class="has-header">
		<div class="card chat-bubble" ng-style="style(chat)" ng-repeat="chat in chats" href="https://facebook.com/{{chat.user}}">

				
				
					<div id="chat-bubble-left">
						<div class="chat-bubble-left ">
							<img class="top avatar" ng-src="{{chat.imgURL}}" alt="W3Schools" width="45" />
						</div>
						<div class="chat-bubble-left ">
							<h6>{{chat.user}}</h6>
						</div>		
					</div>
					<div id="chat-bubble-right">
					{{chat.message}}

						
					</div>
	
		  
			</div>	

   
  </ion-content>
  <div class="login-form" style="position: absolute; bottom: 40px; width: 100%">
    	<div class="list">
    		<div class="item item-input-inset">
    			<label class="item-input-wrapper">
    				<input type="text" placeholder="Message" ng-model="chat.message"/>
    				
    			</label>
    				<button class="button button-positive ion ion-ios-chatbubble" ng-click="sendChat(chat)"></button>
    		</div>
    	</div>
	</div>
    
</ion-view>
<!--<div class="chat-bubble-left">
							
						</div>-->