<ion-view view-title="Bible">
<ion-content>
	<button style="margin-top:40px;" class="button button-energized" modal-select="" ng-model="target.book" options="longList" modal-title="Select a number" header-footer-class="bar-positive">
		Select Book
		<div class="option">
			{{option}}
		</div>
	</button>
	<button style="margin-top:40px;" class="button button-energized" modal-select="" ng-model="target.chapter" options="chapterList" modal-title="Select a number" header-footer-class="bar-positive">
		Select Chapter
		<div class="option">
			{{option}}
		</div>
	</button>
	<button style="margin-top:40px;" class="button button-energized" ng-click="getPassage(target)">
		Go
		
	</button>
  <!--
   <ion-item>
   <ion-label>Toppings</ion-label>
   <ion-select [(ngModel)]="toppings" multiple="true">
     <ion-option>Bacon</ion-option>
     <ion-option>Black Olives</ion-option>
    <ion-option>Extra Cheese</ion-option>
    <ion-option>Mushrooms</ion-option>
    <ion-option>Pepperoni</ion-option>
    <ion-option>Sausage</ion-option>
     </ion-select>
    </ion-item>-->
  
 <!--	<div class="list">
  <label class="item item-input item-select">
    <div class="input-label">
      Books
    </div>
    <select>
      <option>Black Olives</option>
      <option selected>Bacon</option>
      <option>Extra Cheese</option>
      <option>Mushrooms</option>
      <option>Pepperoni</option>
      <option>Sausage</option>
    </select>
  </label>
</div>-->	
  

 		<!--
 			<select ng-model="target.book">
 				<option ng-repeat="book in x">{{book}}</option>
			</select>
 			<select type="text" ng-model="target.chapter">
 				<option ng-repeat="chapter in c">{{chapter}}</option>
			</select>
			
			
			<input type="text" ng-model="target.verse" placeholder="verse"/>
			<button style="display:inline-block; float:left; width: 25%;" ng-click="getPassage(target)">get passage</button>
		-->
  		
  		
		<h2 class="text-center">{{book_name}} {{chapterNum}}</h2>
		<div class="bible-text-padding"><p ng-bind-html = "chapter"></p></div>
		
  </ion-content>
</ion-view>
