<ion-view view-title="Bible">
<ion-content>
	<button style="margin-top:40px;" class="button button-energized" modal-select="" ng-model="target.book" options="longList" modal-title="Select a number" header-footer-class="bar-positive">
		Select Book
		<div class="option">
			{{option}}
		</div>
	</button>
	<button style="margin-top:40px;" class="button button-energized" modal-select="" ng-model="target.chapter" options="chapterList" modal-title="Select a number" header-footer-class="bar-positive">
		Select Chapter
		<div class="option">
			{{option}}
		</div>
	</button>
	<button style="margin-top:40px;" class="button button-energized" ng-click="getPassage(target)">
		Go
		
	</button>

  		
		<h2 class="text-center">{{book_name}} {{chapterNum}}</h2>
		<div class="bible-text-padding">
			<span ng-repeat="x in displayChapter" ng-click="getTheVerse(x.ver)">{{x.ver}} <sub>{{x.num}}</sub></span>
		</div>
		
  </ion-content>
   <div class="login-form" style="position: absolute; bottom: 40px; width: 100%">
    	<div class="list">
    		<div class="item item-input-inset">
    			<label class="item-input-wrapper">
    				<input style="background:yellow; width:100%; height:auto;" type="text" placeholder="Message" ng-model="chatVerse"/>
    				<!--<textarea style="background:yellow; width:100%; height:auto;" msd-elastic ng-model="chatVerse">
					 
					</textarea>-->
				</label>
    				<button class="button button-positive ion ion-ios-chatbubble" ng-click="sendChat(chat)"></button>
    		</div>
    	</div>
	</div>
</ion-view>
