sub {
    vertical-align: top;
    font-size: .75em;
	color:red;
}
.chat-bubble{
	width:85%;
	border-radius:18px; 
	background-color:#E5E8EC;
	min-height: 85px;
	display:flex;
}
#chat-bubble-left{
	flex:1
}
.pane {
    background-image: url('../img/oa logo.png'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#chat-bubble-left h6{text-align:center;}
#chat-bubble-right{
	flex:4;
	
}
.chat-bubble-left{}
.dynamic-style{background:pink;}
.top {
    vertical-align: text-top;
}

.avatar{border-radius: 15px; margin:8px;}
.bible-text-padding{padding:25px;}
input{float:left;
display:inline-block;width:25%;}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
	width:100%;
}
.textbar{width:85%;
	
	display:flex;}
.textbar-bar{flex:7;background:yellow;height:20px;}
.delete{flex:1;}
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}