sub {
    vertical-align: top;
    font-size: .75em;
	color:red;
}
.chat-bubble{
	width:85%;
	border-radius:18px; 
	background-color:#E5E8EC;
	min-height: 85px;
	display:flex;
}
#chat-bubble-left{
	flex:1
}
.pane {
    background-image: url('../img/oa logo.png'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#chat-bubble-left h6{text-align:center;}
#chat-bubble-right{
	flex:4;	
}
.chat-bubble-left{}

.dynamic-style{background:pink;}

.top {
    vertical-align: text-top;
}

.avatar{border-radius: 15px; margin:8px;}

.bible-text-padding{padding:25px;}

input{
	float:left;
	display:inline-block;width:25%;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
		width:100%;
}
.textbar-textarea{width:100%;}
.textbar-wrapper{background: #545456;}
.textbar{
	width:100%;
	display:flex;
}

.textbar-bar{flex:7.7;height:auto;}
.delete{flex:.8;height:25px; float:right;}
.send-button{flex:1.5;float:right;}
.delete-icon{width:10px;font-size:20px;margin-left:5px;color:red;}
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.navbar {
    background-color: #313133;
}


/*dfdffdfdfdgb*/

.bar.bar-custom {
    border-color: #313133;
    background-color: #313133;
    /*background-image: linear-gradient(0deg, #0c60ee, #0c60ee 50%, transparent 50%);*/
    color: #fff; }
    .bar.bar-custom .title {
      color: #fff; }
    .bar.bar-custom.bar-footer {
      background-image: linear-gradient(180deg, #0c60ee, #0c60ee 50%, transparent 50%); }

.bar-custom .button {
  border-color: transparent;
  background-color: #313133;
  color: #fff; }
  .bar-custom .button:hover {
    color: #fff;
    text-decoration: none; }
  .bar-custom .button.active, .bar-positive .button.activated {
    background-color: #0c60ee; }
  .bar-custom .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #fff;
    font-size: 17px; }
  .bar-custom .button.button-icon {
    border-color: transparent;
    background: none; }


.tabs-custom > .tabs,
.tabs.tabs-custom {
  border-color: #313133;
  background-color: #313133;
  /*background-image: linear-gradient(0deg, #0c60ee, #0c60ee 50%, transparent 50%);*/
  color: #fff; }
  .tabs-custom > .tabs .tab-item .badge,
  .tabs.tabs-custom .tab-item .badge {
    background-color: #fff;
    color: #387ef5; }

.tabs-striped.tabs-custom .tabs {
  background-color: #313133; }

.tabs-striped.tabs-custom .tab-item {
  color: rgba(255, 255, 255, 0.4);
  opacity: 1; }
  .tabs-striped.tabs-custom .tab-item .badge {
    opacity: 0.4; }
  .tabs-striped.tabs-custom .tab-item.tab-item-active, .tabs-striped.tabs-custom .tab-item.active, .tabs-striped.tabs-positive .tab-item.activated {
    margin-top: -2px;
    color: #fff;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #fff; }